#graph-container {
    top: 57px;
    bottom: 0;
    left: 485px;
    right: 0;
    position: absolute;
}

.contact {
    display: none;
}

.help{
    display: none;
}

.help p, h3 {
    margin-left: 15px;
}

#dropdownMenuButton{
    width:470px;
}

.string-text {
    height: 50%;
    width: 470px;
    resize: none;
    margin-left: 15px;
}

.table {
    max-height: 38vh;
    overflow-y: scroll;
    width: 485px;
}

#info_table {
    margin-left: 15px;
    width: 453px;
}